<div class="columns is-multiline">
    {{#each images}}
        <div class="column is-4">
            <form id="deleteForm{{id}}" method="post" action="/admin/images/delete/{{id}}">
                <input type="hidden" name="name" value="value" /> 
                <a class="delete is-large" onclick="document.getElementById('deleteForm{{id}}').submit();"></a>
            </form>
            <img class="is-square is-flex" src="/images/{{imageName}}.{{fileExtension}}"/>
        </div>
    {{/each}}
</div>