<div class="post-container">
    <img class="post-element" src="/images/{{post.imageName}}.{{post.fileExtension}}" alt="{{post.title}}">
    <h1 class="post-element title is-1">{{post.title}}</h1>
    <div class="columns">
        <div class="column is-4"></div>
        <form class="column is-2" method="GET" action="/admin/post/edit">
            <input type="hidden" name="postID" value="{{post.postID}}">
            <input class="button" type="submit" value="Edit Post">
        </form>
        <form class="column is-2" method="POST" action="/admin/post/delete">
            <input type="hidden" name="postID" value="{{post.postID}}">
            <input class="button" style="background-color: #ffdddd;" type="submit" value="Delete Post">
        </form>
        <div class="column is-4"></div>
    </div>
    <div class="post-element">
        <p class="post-text">{{{post.body}}}</p>
    </div>
</div>
