<div class="post-container">
    <img class="post-element" src="/images/{{post.imageName}}.{{post.fileExtension}}" alt="{{post.title}}">
    <h1 class="post-element title is-1">{{post.title}}</h1>
    <p class="post-element">{{post.body}}</p>
</div>
